.kanban-column {
    /* background: #f9f9f9; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    min-width: 18%;
    max-width: 33%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

h2 {
    padding: 0;
    margin-bottom: 20px;
	font-size: 13px;
}

.column-header {
	display: flex;
	justify-content: space-between;
}

.column-title {
	display: flex;
    gap: 10px;
	align-items: center;
}

.column-actions {
	display: flex;
	align-items: center;
}
